name: Build and Publish SNAPSHOT to GitHub Packages

on:
  push:
    branches:
      - development

jobs:
  build-test-and-lint:
    uses: ./.github/workflows/build-test-and-lint.yml
    permissions:
      checks: write
      pull-requests: write
      contents: read
  analyze:
    uses: ./.github/workflows/analyze-code.yml
    permissions:
      actions: read
      contents: read
      security-events: write
  dependency-submission:
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/dependency-submission.yml
  publish-snapshot:
    environment: SNAPSHOT
    needs:
      - build-test-and-lint
      - dependency-submission
      - analyze
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
          cache: "maven"

      - name: Semantic Release (changelog & pre-release)
        uses: cycjimmy/semantic-release-action@v4
        id: semantic_release
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/commit-analyzer
            @semantic-release/release-notes-generator
            @semantic-release/github
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish SNAPSHOT to GitHub Packages
        if: steps.semantic_release.outputs.new_release_published == 'true'
        run: mvn -B -s ${{ github.workspace }}/settings.xml clean deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}