name: Check Licenses

on:
  workflow_call:

jobs:
  check-license-headers:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Check License Headers
        run: mvn license:check
