name: Build and Publish SNAPSHOT to GitHub Packages

on:
  push:
    branches:
      - development
      - main

jobs:
  build-test-and-lint:
    uses: ./.github/workflows/build-test-and-lint.yml
    permissions:
      checks: write
      pull-requests: write
      contents: read
  analyze:
    uses: ./.github/workflows/analyze-code.yml
    permissions:
      actions: read
      contents: read
      security-events: write
  dependency-submission:
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/dependency-submission.yml
  check-license-headers:
    uses: ./.github/workflows/check-license.yml
  publish-snapshot:
    needs:
      - build-test-and-lint
      - dependency-submission
      - analyze
      - check-license-headers

    permissions:
      contents: write
      packages: write

    uses: ./.github/workflows/release-snapshot.yml
  publish-stable:
    needs:
      - build-test-and-lint
      - dependency-submission
      - analyze
      - check-license-headers
    uses: ./.github/workflows/release-stable.yml
  publish-to-github-pages:
    needs:
      - publish-snapshot
      - publish-stable
    if: needs.publish-snapshot.result == 'success' || needs.publish-stable.result == 'success'
    runs-on: ubuntu-latest
    steps:
      - name: Publish Documentation
        uses: ./.github/workflows/publish-publish-docs.yml