name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build-test-and-lint:
    uses: ./.github/workflows/build-test-and-lint.yml
    permissions:
      checks: write
      pull-requests: write
      contents: read
    with:
      run-tests: true
  analyze-code:
    uses: ./.github/workflows/analyze-code.yml
    permissions:
      actions: read
      contents: read
      security-events: write
    with:
      fail-fast: false
  dependency-submission:
    uses: ./.github/workflows/dependency-submission.yml