name: "Dependency Submission"

on:
  workflow_call:

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Submit dependency graph
        uses: advanced-security/maven-dependency-submission-action@v4