name: Deploy Docs

on:
  workflow_call:

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: "maven"

      - name: Generate Javadocs
        run: mvn clean javadoc:javadoc javadoc:aggregate

      - name: Copy Javadocs
        run: cp -r target/site/apidocs docs/docs/javadoc

      - name: Install MkDocs
        run: pip install mkdocs mkdocs-material mkdocs-macros-plugin

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
        working-directory: docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}