name: Release Snapshot

on:
  workflow_call:

jobs:
  release-snapshot:
    if: github.ref == 'refs/heads/development'
    environment: SNAPSHOT
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github
          settings-path: ${{ github.workspace }}
          cache: "maven"

      - name: Semantic Release (changelog & pre-release)
        uses: cycjimmy/semantic-release-action@v4
        id: semantic_release
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/commit-analyzer
            @semantic-release/release-notes-generator
            @semantic-release/github
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish SNAPSHOT to GitHub Packages
        if: steps.semantic_release.outputs.new_release_published == 'true'
        run: mvn -B -s ${{ github.workspace }}/settings.xml clean deploy -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}